/* static/css/configuracoes_admin.css */
.config-cards-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.uniform-card.card-config {
    flex-basis: calc(23% - 10px); 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}


@media (max-width: 768px) {
    .uniform-card.card-config {
        flex-basis: 100%; 
    }
}
