<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações - EstacionaTech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/configuracoes.css') }}">
</head>
<body>
<div class="dashboard ">
    <header class="dashboard-header">
        <nav class="dashboard-nav container">
            <h1 class="dashboard-title">EstacionaTech</h1>
            <div class="dashboard-user">
                <span>{{ session.get('nome') }}</span>
                <a href="{{ url_for('admin.painel_admin') }}" class="btn btn-primary">Voltar</a>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-primary">Sair</a>
            </div>
        </nav>
    </header>

    <main class="dashboard-main container">
        <div class="dashboard-intro">
            <h2>Configurações do Estacionamento</h2>
            <p class="dashboard-subtitle">Bem-Vindo <strong>{{ session.get('nome') }}</strong></p>
        </div>

        <div class="cards-container">
            <div class="uniform-card card-config">
                <div class="card-icon">🗂️</div>
                <h3>Setores</h3>
                <p>Gerencie os setores do estacionamento.</p>
                <a href="{{ url_for('configadm.config_setores') }}" class="btn btn-primary">Acessar</a>
            </div>
            <div class="uniform-card card-config">
                <div class="card-icon">🅿️</div>
                <h3>Vagas</h3>
                <p>Gerencie a disponibilidade das vagas.</p>
                <a href="{{ url_for('vaga.config_vagas') }}" class="btn btn-primary">Acessar</a>
            </div>
            <div class="uniform-card card-config">
                <div class="card-icon">💰</div>
                <h3>Tarifas</h3>
                <p>Defina valores por hora e tarifas especiais.</p>
                <a href="{{ url_for('configadm.config_tarifas') }}" class="btn btn-primary">Acessar</a>
            </div>
            <div class="uniform-card card-config">
                <div class="card-icon">👤</div>
                <h3>Operadores</h3>
                <p>Gerencie os usuários operadores.</p>
                <a href="{{ url_for('operadores.config_operadores') }}" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>